.skeleton {


    background:

    linear-gradient(

        90deg,

        rgba(148,163,184,.15),

        rgba(148,163,184,.35),

        rgba(148,163,184,.15)

    );


    background-size:

    200% 100%;


    animation:

    skeleton-loading 1.5s infinite;


}



/* VARIANTS */


.skeleton-text {


    height:

    14px;


    width:

    100%;


    border-radius:

    8px;

}



.skeleton-title {


    height:

    24px;


    width:

    60%;


    border-radius:

    10px;

}



.skeleton-avatar {


    width:

    48px;


    height:

    48px;


    border-radius:

    50%;

}



.skeleton-card {


    height:

    180px;


    width:

    100%;


    border-radius:

    22px;

}




@keyframes skeleton-loading {


    from {

        background-position:

        200% 0;

    }


    to {

        background-position:

        -200% 0;

    }


}